/* colour scheme detector */
@media (prefers-color-scheme: light) {
    body {
        background: #ffebee;
        color: #cf0311;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background: rgb(27, 27, 27);
        color: #f8bbd0;
    }
    
    h4, input, textarea, p, ::placeholder {
        color: #f8bbd0;
    }
    header {
        border-bottom: 3px solid #f8bbd0;
        background: #90caf9;
    }
    #menu a {
        color: #1975d2;
    }
    
    #menu a:hover {
        color: #cf0311;
    }
    input, textarea {
        border: 3px solid #f8bbd0;
        color: #ffebee;
        background: rgb(27, 27, 27);
    }
    button#submit { 
        border: 3px solid #f8bbd0;
        color: #ffebee;
        background: rgb(27, 27, 27);
    }
    button#submit:hover {  
        border: 3px solid #90caf9;
        color: #e3f2fd;
        background: #90caf9;
    }
    .websiteFrame {
        background-color: #f8bbd0;
     }
}

@media only screen and (max-width: 768px) {
    main {
        padding: 3em;
        padding-left: 9%;
        padding-right: 9%;
        padding-bottom: .3em;
    }
    #links {
        top: 5em;
    }
    #links img {
        width: 6.9vw;
        height: 6.9vw;
    }    
    #links p {
        font-size: 3vw;
    }
    #menu ul {
        margin: 0; 
    }
    header {
        padding-left: 9px;
    }
    img, a, .container {
        border: 0;
    }
    img:hover, a:hover, .container:hover {
        border: 0;
    }
}