/* colour scheme detector */
@media (prefers-color-scheme: light) {
    body {
        background: #ffebee;
        color: #cf0311;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background: rgb(27, 27, 27);
        color: #f8bbd0;
    }
}