header {
    position: fixed;
    top: 0;
    width: 100%;
}

#links {
    position: fixed;
    display: flex;
    flex-direction: column;
    right: 1em;
    top: 6em;
}

.container {
    overflow: auto;
    text-align: center;
    margin-bottom: 9px;
}

main {
    padding: 3.5em;
    padding-left: 10%;
    padding-right: 12%;
}

#menu img {
    display: inline-block;
    float: left;
    width: 24px;
    height: 24px;
}

#menu ul {
    display: flex;
    margin-top: 3px;
    margin-bottom: 3px;
}

#menu li {
    padding-left: 15px;
  }

#name h2 {
    margin-bottom: .3em;
}  

#name h4 {
    margin-top: 0;
    margin-bottom: .6em;
}

#about {
    margin-bottom: 3em;
}

main img {
    padding-right: .9em;
    width: 24px;
}

#location { 
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

#work p {
    margin-bottom: 0;
}

#tech { 
    margin: 0;
    padding: 0;
    padding-top: .3em;
    display: flex;
    align-items: center;
}

#blog a {
    float: left;
    padding-right: 1em;
    padding-top: .35em;
}

.contact_form {
    padding-bottom: 9px;
}