/* FONTS */
@font-face {
    font-family: 'MS_Sans_Serif_8pt_bold';
    src: url(../fonts/MS_Sans_Serif_8pt_bold.ttf);
}

@font-face {
    font-family: 'MS_Sans_Serif_8pt';
    src: url(../fonts/MS_Sans_Serif_8pt.ttf);
}

/* GENERAL */
body { 
    cursor: url('../images/cursor.png'), auto;
    margin: 0;
    padding-top: 24px;
}

header {
    box-sizing: border-box;
    border-bottom: 5px solid #cf0311;
    padding: 12px;
    background: #f8bbd0;
    padding-left: 21px;
}

h1 {
    font-family: 'MS_Sans_Serif_8pt', sans-serif;
    font-weight: 500;
    font-size: 1.8rem;
}

h2 {
    font-family: 'MS_Sans_Serif_8pt', sans-serif;
    font-weight: normal;
    font-size: 1.5rem;
}

h3 { 
    font-family: 'MS_Sans_Serif_8pt_bold', sans-serif;
    font-weight: normal;
    font-size: 1.3rem;
    padding-bottom: .8em;
}

h4, input, textarea, ::placeholder {
    font-family: 'MS_Sans_Serif_8pt', sans-serif;
    font-weight: normal;
    font-size: 1.2rem;
    color: #cf0311;
}

h5, button {
    font-family: 'MS_Sans_Serif_8pt', sans-serif;
    font-weight: normal;
    font-size: 1.2rem;
}

p, li {
    font-family: 'MS_Sans_Serif_8pt', sans-serif;
    font-weight: normal;
    font-size: 1rem;
}

ul {
    list-style: none;
    margin-top: 0;
}

a:hover {   
    cursor: url('../images/hover-cursor.png'), auto;
}

a img  {
    border: 2px dotted #ffebee;
}
    
a img:hover {
    border: 2px dotted #1975d2;
}

/* LINK */
#links a {
    font-family: 'MS_Sans_Serif_8pt_bold', sans-serif;
    color: #cf0311;
    text-decoration: none;
    font-size: 1rem;
    padding: 0;
}

.container {
    border: 2px dotted transparent;   
}

.container:hover {
    border: 2px dotted #1975d2;   
}

#links img {
    width: 6.9vh;
    height: 6.9vh;
    border: none;
}

#links img:hover {
    width: 6.9vh;
    height: 6.9vh;
    border: none;
}

#links p {
    margin: 0;
    font-size: 3vh;
    padding-top: .3em;
}

/* MENU */

#menu img {
    border: 2px dotted transparent;
}

#menu img:hover {
    border: 2px dotted #1975d2;
}

#menu a {
    font-family: 'MS_Sans_Serif_8pt_bold', sans-serif;
    color: #cf0311;
    text-decoration: none;
    font-size: 1rem;
}

#menu a:hover {
    color: #ffebee;
    border-bottom: 2px dotted #1975d2;
}

/* ABOUT  */

#about ul li:before {
    content: "\2665";
    color: #cf0311;
    padding-right: .4rem;
}

#work a img {
    margin-top: 18px;
    width: 45%;
    border: solid 3px #f8bbd0;
}

#work a img:hover {
    border: dotted 3px #90caf9;
}

/* BLOG */
#blog h4 {
    font-weight: 600;
}

/* CONTACT */

#email h4 {
    border-bottom: 2px dotted transparent;
}

#email h4:hover {
    border-bottom: 2px dotted #1975d2;
}

input, textarea {
    width: 90%;
    padding: .3em;
    border: 3px solid #cf0311;
    color: #1975d2;
}

 input:hover, textarea:hover {
    cursor: url('../images/text_cursor.png'), auto;
    border: 3px solid #ff80aa;
}

input:focus, textarea:focus {
    outline: none;
    border: 3px solid #1975d2;
    color: #cf0311;
}

button#submit { 
    width: 30%;
    border: 3px solid #cf0311;
    color: #cf0311;
    background: #ffebee;
    padding: .3em;
}

button#submit:hover {  
    border: 3px solid #1975d2;
    color: #e3f2fd;
    background: #1975d2;
    padding: .3em;    
    cursor: url('../images/hover-cursor.png'), auto;
}

/* FRAME */

.websiteFrame {
    position: fixed;
    z-index: 990;
    background-color: #cf0311;
 }
 
 #websiteFrameTop {
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
 }
 
 #websiteFrameRight {
    top: 0;
    bottom: 0;
    right: 0;
    width: 5px;
 }
 
 #websiteFrameBottom {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;
 }
 
 #websiteFrameLeft {
    top: 0;
    bottom: 0;
    left: 0;
    width: 5px;
 }