/* FONTS */
@font-face {
    font-family: 'MS_Sans_Serif_8pt_bold';
    src: url(../fonts/MS_Sans_Serif_8pt_bold.ttf);
}

@font-face {
    font-family: 'MS_Sans_Serif_8pt';
    src: url(../fonts/MS_Sans_Serif_8pt.ttf);
}

/* GENERAL */
:root {
    --clr-primary-100--: #ffebee;
    --clr-primary-200--: #f8bbd0;
    --clr-primary-400--: #ff80aa;
    --clr-primary-900--: #cf0311;
    --clr-accent-100--: #e3f2fd;
    --clr-accent-200--: #bbdefb;
    --clr-accent-400--: #90caf9;
    --clr-accent-900--: #1975d2;
}

body { 
    cursor: url('../images/cursor.png'), auto;
    margin: 0;
    padding-top: 24px;
}

header {
    box-sizing: border-box;
    border-bottom: 5px solid #cf0311;
    border-top: 5px solid #cf0311;
    padding: 12px;
    background: #f8bbd0;
    padding-left: 21px;
}

h1 {
    font-family: 'MS_Sans_Serif_8pt_bold', sans-serif;
    font-weight: normal;
    font-size: 21px;
}

h2 {
    font-family: 'MS_Sans_Serif_8pt', sans-serif;
    font-weight: 500;
    font-size: 24px;
}

h3 {
    font-family: 'MS_Sans_Serif_8pt', sans-serif;
    font-weight: normal;
    font-size: 21px;
}

h4, label {
    font-family: 'MS_Sans_Serif_8pt', sans-serif;
    font-weight: normal;
    font-size: 1.2rem;
}

h5, button {
    font-family: 'MS_Sans_Serif_8pt', sans-serif;
    font-weight: normal;
    font-size: 1rem;
}

p, li {
    font-family: 'MS_Sans_Serif_8pt', sans-serif;
    font-weight: normal;
    font-size: 1.2rem;
}

ul {
    list-style: none;
    padding-left: 0;
}

a:hover {   
    cursor: url('../images/hover-cursor.png'), auto;
}

/* LINK */
#links a {
    font-family: 'MS_Sans_Serif_8pt_bold', sans-serif;
    color: #cf0311;
    text-decoration: none;
    font-size: 1rem;
    padding: 0;
}

.hover_icon {
    border: 2px dotted #ffebee;   
}

.hover_icon:hover {
    border: 2px dotted #1975d2;   
}

#links img {
    width: 6.9vh;
    height: 6.9vh;
}

/* MENU */

#menu img {
    border: 2px dotted #f8bbd0;
}

#menu img:hover {
    border: 2px dotted #1975d2;
}

#menu a {
    font-family: 'MS_Sans_Serif_8pt_bold', sans-serif;
    color: #cf0311;
    text-decoration: none;
    font-size: 1rem;
}

#menu a:hover {
    color: #ffebee;
    border-bottom: 2px dotted #1975d2;
}

/* ABOUT  */

#about ul li:before {
    content: "\2665";
    color: #cf0311;
    padding-right: .4rem;
}

/* BLOG */
#blog a {
    float: left;
    padding-right: 1em;
    padding-top: .35em;
}

#blog h4 {
    font-weight: 600;
}

/* CONTACT FORM */
#email_logo {
    float: left;
    padding-right: 1em;
}

button#submit {  
    width: 90%;
    border: 3px solid #cf0311;
    color: #cf0311;
    background: #ffebee;
    padding: .3em;
}

button#submit:hover {  
    border: 3px solid #1975d2;
    color: #e3f2fd;
    background: #1975d2;
    padding: .3em;    
    cursor: url('../images/hover-cursor.png'), auto;
}

.input {
    border: 3px solid #cf0311;
    width: 90%;
}

/* FOOTER */

footer {  
    padding-left: 9%;
    padding-bottom: 1em;
}

footer img {
    float: left;
    padding-right: 12px;
}

footer p {
    font-size: 1rem;
}

/* FRAME */

.websiteFrame {
    position: fixed;
    z-index: 990;
    background-color: #cf0311;
 }
 
 #websiteFrameTop {
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
 }
 
 #websiteFrameRight {
    top: 0;
    bottom: 0;
    right: 0;
    width: 5px;
 }
 
 #websiteFrameBottom {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;
 }
 
 #websiteFrameLeft {
    top: 0;
    bottom: 0;
    left: 0;
    width: 5px;
 }